#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    pidfile     /var/run/haproxy.pid
    maxconn     4000
   # user        haproxy
  #  group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /tmp/haproxy.sock

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option http-server-close
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# static backend for serving up images, stylesheets and such
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
listen docker
   bind 0.0.0.0:8080
   mode http
   option tcp-check
   balance roundrobin
   server nginx1 nginx1:80 check
   server nginx2 nginx2:80 check

listen admin_stats #定义HAProxy监控页面
    bind 0.0.0.0:9188
    mode http
    log 127.0.0.1 local3 err
    stats refresh 30s #HAProxy监控页面统计自动刷新时间。
    stats uri /haproxy-status #设置监控页面URL路径。 http//IP:9188/haproxy-status可查看
    stats realm welcome login\ Haproxy #统计页面密码框提示信息
    stats auth admin:123456 #登录统计页面用户和密码
    stats hide-version #隐藏HAProxy版本信息
    stats admin if TRUE #设置TURE后可在监控页面手工启动关闭后端真实服务器 



